body {
    background: black;
    color: white;
    margin: 0px;
    font-family: "Bungee Spice", sans-serif;
    margin-bottom: 70px;
}

header {
    border-bottom: solid 2px rgb(240, 237, 238);
    padding: 15px;
    font-size: 32px;
    color: rgb(121, 159, 209);
    font-weight: bold;

}

.chamada {
    background: #f5840ca3;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-family: "Varela Round", sans-serif;
}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
}

p {
    font-size: 15px;
    font-family: "Signika Negative", sans-serif;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;

}

.categoria {
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
}

.categoria-videos img {
    opacity: 0.3;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: solid rgb(255, 255, 255) 6px;
}

.video {
    border: solid black 2px;
}